<form method="post" action="/recipes">
    <h3><label for="name"> Name:</label>
    <input type="text" id="name" name="name"></h3>
    <h5><label for="ingredients"> Ingredients:</label></h5>
    <textarea type="text" id="ingredients" name="ingredients"></textarea>
    <h5><label for="cook_time"> Cook Time:</label></h5>
    <input type="text" id="cook_time" name="cook_time">
    <input type="submit" value="submit">
</form>